.task-list {
	width: 100%;
	max-width: 400px;
	box-sizing: border-box;
	padding: 24px 12px;

	@media (min-width: 769px) {
		max-width: 500px;
	}

	.task-container {
		display: flex;
		justify-content: space-between;
		list-style-type: none;
		align-items: center;
		gap: 10px;

		.description {
			flex: 2 1;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			border: none;
			background-color: transparent;
			color: black;
			font-size: 16px;

			&:focus {
				outline: none;
			}
		}

		.actions {
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: 10px;

			div {
				padding: 5px;

				&.edit {
					color: darkgreen;
					font-size: 18px;
				}

				&.save {
					color: red;
					font-size: 18px;
				}

				&.remove {
					color: dimgrey;
					font-size: 16px;
				}
			}
		}
	}
}
