.task-form {
	display: flex;
	flex-direction: column;
	width: 100%;
    box-sizing: border-box;
	max-width: 350px;
	align-items: center;
	padding: 24px 12px;
	gap: 10px;

	@media (min-width: 769px) {
		flex-direction: row;
		max-width: none;
		align-items: flex-end;
		justify-content: center;
	}

	.form-input {
		width: 100%;
		height: 36px;
		border: none;
		border-bottom: 1px solid black;

		&:focus {
			outline: none;
		}

		@media (min-width: 769px) {
			width: 50vw;
			max-width: 400px;
		}
	}

	.form-button {
		padding: 10px 30px;
		width: 100%;
		border: none;
		border-radius: 5%;
		color: white;
		background-color: darkgreen;

		&:disabled {
			background-color: dimgrey;
		}

		@media (min-width: 769px) {
			width: 20vw;
			max-width: 150px;
		}
	}
}
