.app-header {
	display: flex;
	justify-content: flex-end;
	width: 100%;

	.welcome {
		width: 100%;
		margin: 0;
		font-size: 32px;
	}

	.header-logout {
		font-size: 26px;
		background-color: transparent;
		border: none;
		cursor: pointer;
	}
}
